{%extends 'base.html' %}

<!-- the website and page have the same title -->
{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype=multipart/form-data>
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <label for="file">Photo</label>
    <input name="file" id="file" type=file required>
    <input type="submit" value="Save">
  </form>
{% endblock %}
